.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: fit-content;
  padding-top: 10rem;
  background-color: hsl(218deg, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218deg, 41%, 35%) 15%,
      hsl(218deg, 41%, 30%) 35%,
      hsl(218deg, 41%, 20%) 75%,
      hsl(218deg, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218deg, 41%, 45%) 15%,
      hsl(218deg, 41%, 30%) 35%,
      hsl(218deg, 41%, 20%) 75%,
      hsl(218deg, 41%, 19%) 80%,
      transparent 100%
    );
}

.login-container h1 {
  text-align: center;
}

.login-container h1 {
  color: whitesmoke;
}

.login span {
  color: hsl(218, 81%, 75%);
}

.login h1 {
  color: "hsl(218, 81%, 95%)";
}

.vefrek-logo-login {
  width: auto;
  height: 50%;
}

.bg-glass {
  background-color: hsla(0deg, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.benefits {
  width: 50%;
  float: left;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: -0.05em;
}

.login-card {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background-color: rgb(239, 234, 234);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  margin-bottom: 20px;
  font-size: xx-large;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

.form-check:hover label a {
  color: rgb(182, 172, 28);
  font-weight: 600;
}

.form-check-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check-input {
  margin-left: 5px;
}

.btn-social {
  width: 80%;
  max-width: 250px;
}

.btn-login {
  background-color: #14ba75;
  color: black;
  border: 1px solid black;
  margin-top: 1rem;
  border-radius: 4px;
  font-weight: bold;
  width: 60%;
  transition: color 0.3s, background-color 0.3s;
}

.btn-login:hover {
  background-color: #ffc451;
  color: black;
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.register-link {
  color: #2196f3;
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.social-buttons {
  display: flex;
  flex-direction: column;
}

.facebook-button {
  background-color: transparent;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.google-button {
  background-color: transparent;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.link-red {
  color: black;
}

.bienvenido {
  width: 45%;
  box-sizing: border-box;
  border-radius: 8px;
}

.bienvenido h2 {
  margin-bottom: 20px;
}
.bienvenido .card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.txt-form a {
  font-weight: 600;
  color: #241e4e;
}

.txt-form a:hover {
  color: #14ba75;
}

.txt-form .label {
  flex: 1;
  margin-right: 10px;
  width: 100%;
  white-space: nowrap;
  transition: color 0.3s;
}

.txt-form {
  width: 100%;
}

.login span {
  color: rgb(133, 133, 133);
}

.acepto1 {
  color: #241e4e;
  font-weight: bold;
}

.acepto2 {
  color: #14ba75;
  font-weight: bold;
}

.acepto3 {
  color: #dc5f5f;
  font-weight: bold;
}

.acepto1:hover {
  color: #14ba75;
}

.acepto2:hover {
  color: #241e4e;
}

.acepto3:hover {
  color: rgb(191, 13, 13);
}

.txt-form .input {
  margin-left: 5px;
  display: flex;
}

.btn-inicio {
  background-color: #14ba75;
  color: black;
  border: 1px solid black;
  margin-top: 1rem;
  border-radius: 4px;
  font-weight: bold;
  width: 60%;
  transition: color 0.3s;
}

.btn-inicio:hover {
  background-color: #ffc451;
  color: black;
}

.facebook-button {
  background-color: transparent;
  color: #1877f2;
  border: 1px solid #1877f2;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.facebook-button svg {
  fill: #1877f2;
  transition: fill 0.3s;
}

.facebook-button:hover {
  background-color: #1877f2;
  color: white;
}

.facebook-button:hover svg {
  fill: white;
}

.google-button {
  background-color: transparent;
  color: rgb(234, 68, 68);
  border: 1px solid rgb(234, 68, 68);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.google-button svg {
  fill: rgb(234, 68, 68);
  transition: fill 0.3s;
}

.google-button:hover {
  background-color: rgb(234, 68, 68);
  color: white;
}

.google-button:hover svg {
  fill: white;
}
/*--- Responsive ---*/
@media (max-width: 768px) {
  .footer-info .vefrek-logo {
    width: 40%;
  }

  .login-container {
    padding: 1rem;
  }

  .vefrek-logo {
    width: 70%;
  }

  .bienvenido {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .login-card {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .vefrek-logo {
    width: 70%;
  }

  .bienvenido {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .vefrek-logo {
    width: 90%;
  }

  .bienvenido {
    width: 80%;
  }
}
