.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  background-color: hsl(218deg, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218deg, 41%, 35%) 15%,
      hsl(218deg, 41%, 30%) 35%,
      hsl(218deg, 41%, 20%) 75%,
      hsl(218deg, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218deg, 41%, 45%) 15%,
      hsl(218deg, 41%, 30%) 35%,
      hsl(218deg, 41%, 20%) 75%,
      hsl(218deg, 41%, 19%) 80%,
      transparent 100%
    );
}

.login-container h1 {
  text-align: center;
  color: #14ba75;
}
.login-container h3 {
  color: rgb(117, 116, 116);
}

.vefrek-logo {
  width: 40%;
}

.bg-glass {
  background-color: hsla(0deg, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.benefits {
  width: 50%;
  float: left;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: -0.05em;
}

.login-card {
  margin: 10rem;
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-card h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.register-link {
  color: #2196f3;
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.social-buttons {
  display: flex;
  flex-direction: column;
}

.facebook-button {
  background-color: transparent;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.google-button {
  background-color: transparent;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.link-red {
  color: black;
}

.bienvenido {
  width: 40%;
  box-sizing: border-box;
  border-radius: 8px;
}

.bienvenido h2 {
  margin-bottom: 20px;
}
.bienvenido .card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.txt-form .label {
  flex: 1;
  margin-right: 10px;
  width: 100%;
  white-space: nowrap;
  transition: color 0.3s;
}

.txt-form {
  width: 100%;
}

.acepto1:hover {
  color: #14ba75;
  font-weight: bold;
}

.acepto2:hover {
  color: gray;
  font-weight: bold;
}

.acepto3:hover {
  color: red;
  font-weight: bold;
}

.txt-form .input {
  margin-left: 5px;
  display: flex;
}

.btn-inicio {
  background-color: #14ba75;
  color: black;
  border: 1px solid black;
  margin-top: 1rem;
  border-radius: 4px;
  font-weight: bold;
  width: 60%;
  transition: color 0.3s;
}

.btn-inicio:hover {
  background-color: #ffc451;
  color: black;
}

.facebook-button {
  background-color: transparent;
  color: #1877f2;
  border: 1px solid #1877f2;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.facebook-button svg {
  fill: #1877f2;
  transition: fill 0.3s;
}

.facebook-button:hover {
  background-color: #1877f2;
  color: white;
}

.facebook-button:hover svg {
  fill: white;
}

.google-button {
  background-color: transparent;
  color: rgb(234, 68, 68);
  border: 1px solid rgb(234, 68, 68);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.google-button svg {
  fill: rgb(234, 68, 68);
  transition: fill 0.3s;
}

.google-button:hover {
  background-color: rgb(234, 68, 68);
  color: white;
}

.google-button:hover svg {
  fill: white; /* Cambia el color del ícono al hacer hover */
}
/*--- Responsive ---*/
@media (max-width: 767px) {
  .vefrek-logo {
    width: 70%;
  }

  .bienvenido {
    width: 100%;
  }
}
