.filter-button {
  padding: 0.75rem 1.5rem;
  margin-right: 0.5rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.filter-button-default {
  background-color: #e2e8f0;
  color: #4a5568;
}

.filter-button-active {
  background-color: #14ba75;
  color: #ffffff;
  border-color: #14ba75;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.portfolio-container {
  width: 100%;
  /* height: 100%; */               /* <------------ Linea Comentada */
  height: fit-content !important;   /* <------------ Linea Agregada */
  font-size: 14px;
}
