.linea-divisoria {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.cargar-img:hover {
  color: #14ba75;
}

.company_logo_file {
  display: none;
}