.form-prueba {
  width: 40%;
  margin: auto;
  color: white;
}

.form-prueba h2,
.form-prueba label,
.form-prueba legend {
  color: white;
}

.button-small {
  padding: 0.5rem 1rem;
  width: 30%;
}

.perfil_avatar {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil_file_input {
  display: none;
}

.obligatorio {
  color: red;
}
