/*=== CONTACTO ===*/
.contact {
  padding: 5px 0 50px 0;
  margin-top: 3rem;
}

.contact .info-contacto {
  background: #fff;
}

.contact .info-contacto i {
  font-size: 20px;
  background: rgb(0, 197, 142);
  color: #151515;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.contact .info-contacto h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}

.contact .info-contacto p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #484848;
}

.contact .info-contacto .email,
.contact .info-contacto .phone {
  margin-top: 20px;
}

.contact .php-email-form {
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message,
.contact .php-email-form .sent-message,
.contact .php-email-form .loading {
  display: none;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message {
  color: #fff;
  background: #ed3c0d;
  text-align: left;
}

.contact .php-email-form .sent-message {
  color: #fff;
  background: rgb(0, 197, 142);
  text-align: center;
}

.contact .php-email-form .loading {
  background: #fff;
  text-align: center;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid rgb(0, 197, 142);
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
  width: 100%;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: rgb(0, 197, 142);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: rgb(0, 197, 142);
  border: 0;
  padding: 8px 16px;
  color: #151515;
  transition: 0.4s;
  border-radius: 4px;
  width: 30%;
  border-radius: 1rem;
  margin-top: 20px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: rgb(0, 0, 0);
  color: white;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 2rem 0;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .col-lg-8 {
    margin-top: 2rem;
  }

  .contact .php-email-form button[type="submit"] {
    margin-top: 1rem;
  }
}
