.background-empresa {
  padding-top: 10rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  min-height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: hsl(218deg, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218deg, 41%, 35%) 15%,
      hsl(218deg, 41%, 30%) 35%,
      hsl(218deg, 41%, 20%) 75%,
      hsl(218deg, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218deg, 41%, 45%) 15%,
      hsl(218deg, 41%, 30%) 35%,
      hsl(218deg, 41%, 20%) 75%,
      hsl(218deg, 41%, 19%) 80%,
      transparent 100%
    );
}
.informacion-container h2,
.reseña-container h2 {
  font-size: xx-large;
  margin-bottom: 1rem;
}

//* CóDIGO NUEVO
.business-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
}

.business-column {
  flex: 0 0 66.66667%;  
  max-width: 66.66667%; 
  
  @media (max-width: 576px) {
    flex: 0 0 50%;  
    max-width: 50%;
  }
}

.business-cont {
  padding-left: 2rem;
}

@media (max-width: 768px) {
  .business-cont {
    padding: 0;
  }
}

iframe[title="map"] {
  width: 100%;
  border-radius: 10%;
  overflow: hidden;
  border: 1px solid #000;
  height: 400px;
}

//* CóDIGO VIEJO
// .mapa-google {
//   width: 100%;
//   border-radius: 10%;
//   overflow: hidden;
//   border: 1px solid #000;
//   height: 400px;
// }

@media (max-width: 552px) {
  .background-empresa {
    padding-top: 3rem;
  }
}

/* --- Lapiz comentarios ---*/
.opiniones-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-icon {
  background: none;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  width: auto;
  height: auto;
}

.btn-icon .MuiSvgIcon-root {
  font-size: 1.5rem;
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
}

/*--- Nombre y Slogan Empresa ---*/

.logo-nombre-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.nombre-slogan-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding: 0 1rem;
}

.nombre-slogan-container h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.nombre-slogan-container p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
/*--- Logo Empresa ---*/

.perfil-card-element1 .logo-empresa {
  padding: 1rem;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fecha-carga {
  align-items: start;
  padding-bottom: 1rem;
}

/*---  ---*/

.image-container {
  width: auto;
  height: 400px;
}

.card-empresa {
  background-color: rgb(186, 185, 185);
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
}

.pagina-empresa-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.column-1 {
  flex: 1;
  max-width: 70%;
}

.column-1 .perfil-card {
  flex-basis: 100%;
}

.slick-slider img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.informacion-container,
.reseña-container,
.nombre-slogan-container {
  margin-top: 20px;
}

.slick-list {
  box-sizing: none;
}

.logo-container img {
  border-radius: 15rem;
}

.perfil-card-element1 img {
  width: 100%;
  height: auto;
  max-width: 1280px;
  max-height: 720px;
  transition: transform 0.3s ease-in-out;
}

.imagen-seleccionada {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  border: 2px solid rgb(0, 197, 142);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.max-w-lg {
  background-color: rgb(223, 223, 223);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 auto;
  padding: 20px;
}

.imagen-seleccionada {
  border: 2px solid rgb(0, 197, 142);
}

.img-fluid {
  border-radius: 2rem;
  max-width: 100%;
  height: auto;
}

.first-image-carousel {
  border-radius: 2rem;
  display: block;
  margin: 0 auto;
}

.image-container img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.informacion-container,
.reseña-container {
  margin-top: 20px;
}

.slick-prev,
.slick-next {
  font-size: 3rem !important;
  z-index: 2;
  color: #000;
  top: 50%;
  position: absolute;
}

.slick-prev:before,
.slick-next:before {
  font-size: 3rem !important;
  color: #fff8f8;
}

.slick-list {
  box-sizing: none;
}

.perfil-card-element1 img {
  width: 100%;
  height: auto;
  max-width: 1280px;
  max-height: 720px;
  transition: transform 0.3s ease-in-out;
}

.imagen-seleccionada {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  border: 2px solid rgb(0, 197, 142);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*================*/

.table-headline .opening-hours {
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/* Estilos para la clase "table-open" */
.table-open {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table-open th,
.table-open td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table-open thead th {
  vertical-align: bottom;
  border: none;
  border-bottom: 1px solid #dee2e6;
}

.table-open tbody + tbody {
  border-top: 2px solid #dee2e6;
}

/*================*/
* .max-w-lg {
  background-color: rgb(223, 223, 223);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 auto;
  padding: 20px;
}

.img-negocio img {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.imagen-seleccionada {
  border: 2px solid rgb(0, 197, 142);
}

.reportar {
  background-color: whitesmoke;
  color: red;
  transition: 0.4s;
  font-weight: 700;
  width: 50%;
  padding: 10px;
  display: block;
  margin: auto;
  text-align: center;
  white-space: nowrap; /* Evita el salto de línea del texto */
  overflow: hidden; /* Oculta el texto que no cabe */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el texto se corta */
}

.reportar:hover {
  background-color: red;
  color: whitesmoke;
}

.redes-sociales-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.redes-sociales-container a {
  margin: 5px;
}

.redes-sociales-container i {
  font-size: 36px;
  transition: color 0.3s ease-in-out;
}

.redes-sociales-container i:hover {
  color: rgb(0, 197, 142);
}

.google-map {
  width: 430px;
  height: 250px;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
}

/*==== INICIO STAR ======*/

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.feedback {
  max-width: 60%;
  background-color: #00000055;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

.pagina_empresa_ver_mas {
  cursor: pointer;
}

.pagina_empresa_ver_mas:hover {
  color: #000;
}

.pagina_empresa_edit_review {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #0000008c;
}

/*===FIN STAR ===*/

@media (max-width: 768px) {
  .perfil-card-element1 {
    padding: 1.5rem;
    margin: 0.5rem;
    border-radius: 2rem;
  }

  .sitio-web-container a {
    font-size: 12px;
    margin: 5px 0;
  }

  .image-container {
    width: auto;
    height: auto;
  }

  .card-empresa {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 2rem;
  }

  .logo-nombre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nombre-slogan-container {
    text-align: center;
  }
  .reportar {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .perfil-card-element1 .logo-empresa {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .reportar {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .sitio-web-container a {
    font-size: 14px;
  }

  .perfil-card-element2 {
    width: 100%;
  }

  .perfil-card-element1 .logo-empresa {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.r-star {
  display: flex;
  padding: 0.5rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.starsCont {
  display: inline-flex;
  align-items: flex-end;
  justify-content: start;
  margin-bottom: 0.8rem;
}

.starsComponentCont {
  margin: 0 0.5rem;
  align-items: flex-end;
}

.starsNumbers {
  margin: 0;
  color: #241e4e !important;
  font-weight: 500;
}

.commentsData {
  align-items: baseline;
  display: flex;
}

.comentario-t {
  margin-top: 1rem;
}

.commentsData h5:first-child {
  font-weight: bold;
}

.commentsData h5:last-child {
  font-family: "Poppins", sans-serif;
  margin-left: 16px;
  font-size: 16px;
}

/*************************/

.googleMapFrame {
  width: 400px;
  height: 400px;
}

.data-neg p,
.data-neg a,
.telefono-container,
.informacion-container p,
.commentsData h5,
.comentario-t p,
.nombre-slogan-container p {
  color: black;
  text-align: justify;
  margin: 0.1rem;
}

.espacio-business {
  display: none;
}

/*--- Colmnas negocio ---*/

.negocio-2 {
  display: flex;
  overflow-x: hidden;
}

.business-pag {
  padding: 4rem;
}

/*===RESPONSIVE===*/
@media (max-width: 768px) {
  .background-empresa {
    padding: 2rem;
  }

  .business-responsive {
    margin: 0;
    padding: 0;
  }


  .nombre-slogan-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nombre-slogan-container h2 {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .nombre-slogan-container p {
    margin-bottom: 0.5rem;
  }

  .starsCont {
    flex-direction: column;
    align-items: center;
  }

  .starsComponentCont {
    margin-top: 0.5rem;
  }

  .commentsData {
    flex-direction: column;
    align-items: center;
  }

  .nro-star {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .img-negocio {
    display: none;
  }

  .data-neg p,
  .data-neg a {
    margin-top: 1px;
  }

  .espacio-business {
    display: inline;
  }

  .r-star {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }

  .feedback {
    max-width: 100%;
  }

  .opening-hours {
    width: 50%;
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0;
    overflow-x: auto;
  }

  .table-headline .opening-hours td {
    display: block;
  }
}
/*=== Horizontal === **/

@media (max-width: 992px) and (min-width: 769px) {
  .logo-container {
    width: 30%;
    height: 30%;
  }

  .background-empresa {
    padding-top: 2rem;
    padding-right: 1rem;
  }

  .negocio-2 {
    padding: 0;
  }

  .perfil-card-element2 {
    padding: 1rem;
  }

  .sitio-web-container a {
    font-size: 12px;
    margin: 5px 0;
  }

  .opening-hours {
    width: 50%;
    display: block;
    border-collapse: collapse;
    white-space: nowrap;
    margin: 0;
    overflow-x: auto;
  }

  .reportar {
    width: 100%;
  }

  .r-star {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
  }

  .feedback {
    max-width: 100%;
  }
}
