.filter-row-km {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.filter-row-cat {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.filtro-categorias {
  width: 30%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.background {
  min-height: fit-content;
  align-items: center;
  justify-content: center;
  background-color: hsl(218deg, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218deg, 41%, 35%) 15%,
      hsl(218deg, 41%, 30%) 35%,
      hsl(218deg, 41%, 20%) 75%,
      hsl(218deg, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218deg, 41%, 45%) 15%,
      hsl(218deg, 41%, 30%) 35%,
      hsl(218deg, 41%, 20%) 75%,
      hsl(218deg, 41%, 19%) 80%,
      transparent 100%
    );
}

.categorias {
  padding-top: 10rem;
}

#rangevalue {
  color: white;
  font-weight: bold;
}

.form-label {
  font-weight: bold;
  color: white;
}

.form-range {
  width: 40%;
  cursor: pointer;
  height: 10px;
  border: none;
  outline: none;
}

.form-range::-webkit-slider-thumb {
  background-color: #14ba75;
  width: 20px;
  height: 20px;
  border: none;
}

.form-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
}

@media (max-width: 1024px) {
  .categorias {
    padding: 3rem;
  }
}

@media (max-width: 992px) {
  .categorias {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .categorias h1 {
    text-align: center;
    font-size: 2rem;
  }

  .filtro-categorias {
    width: 80%;
  }
}

@media (max-width: 390px) {
  .categorias h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 300px) {
  .categorias h1 {
    font-size: 0.8rem;
  }
}
