.background {
  width: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 2rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #00152A 0%, #00365B 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  color: #444444;
  text-align: left;
  position: relative;
}

a {
  color: #ffc451;
  text-decoration: none;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}

@media (max-width: 768px) {
  section {
    padding: 2rem 3rem 3rem 3rem;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}

.section-title {
  max-width: 1200px;
  margin: 0 auto;
}


.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  margin: 1rem;
  bottom: 15px;
  background-color: rgb(61, 214, 151);
  z-index: 996;
  color: rgb(0, 197, 142);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  z-index: 9999;
}

.back-to-top i {
  font-size: 28px;
  color: #151515;
  line-height: 0;
}

.back-to-top:hover {
  background: #151515;
}

.back-to-top:hover i {
  color: rgb(0, 197, 142);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.swal2-container {
  z-index: 1200;
}

body {
  font-family: "Poppins", Arial, sans-serif;
}


p,
a,
li,
span,
input,
button {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.background h1 {
  margin: 0;
  font-weight: 700;
  line-height: 64px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.background p {
  color: whitesmoke;
}

.background h3 {
  color: #333;
}

.background li {
  color: whitesmoke;
}

.col-logo {
  width: 100%;
  margin-bottom: 3rem;
}
@media (min-width: 992px) {
  .col-logo {
    flex: 0 0 48%;
    max-width: 48%;
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .col-logo {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
.col-logo h1 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: whitesmoke;
}
.col-logo h1 img {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: middle;
}
.col-logo h1 span {
  color: #f0c674;
}
@media (max-width: 768px) {
  .col-logo h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .filterTypeContRecomendados {
    flex-direction: column;
    align-items: flex-start;
  }
  .filterTypeContRecomendados p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
}
.emergencia-form p {
  color: white;
}


/*=== ABOUT ===*/
.img-fluid {
  max-width: 100%;
  height: auto;
}

/*Page Publicacion*/
.publicacion {
  padding: 10rem;
  background-attachment: fixed;
}

.container-publicacion {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.publicacion-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.publicacion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-publicacion {
  width: 50%;
}

.publicacion-text {
  margin-top: 2rem;
}

.publicacion-text h3 {
  font-size: 2rem;
  color: #f0f0f0;
  text-align: center;
  line-height: 1.5;
}

.publication-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.publication-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.publication-icon-box {
  border-radius: 1rem;
  cursor: pointer;
  padding: 30px 20px;
  transition: ease-in-out 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.85);
  text-align: center;
  background-color: rgba(51, 51, 51, 0.5137254902);
  color: white;
}

.publication-icon-box i {
  font-size: 32px;
  line-height: 1;
  color: rgb(0, 197, 142);
  margin-bottom: 10px;
  transition: transform 0.5s ease-in-out;
}

.publication-icon-box:hover {
  border-color: rgb(0, 197, 142);
  background-color: rgb(36, 30, 78);
  color: white;
}

.publication-icon-box:hover i {
  transform: translateY(-5px);
}

@media (max-width: 767px) {
  .publicacion {
    padding: 3rem;
  }
  .logo-publicacion {
    width: 80%;
  }
  .publicacion-text h3 {
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .publication-btn {
    margin-top: 2rem;
  }
  .publication-icon-box {
    padding: 20px 15px;
  }
  .publication-icon-box i {
    font-size: 28px;
  }
  .publication-link {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
/* Sección URL */
.url-section {
  margin-bottom: 2rem;
}
.url-section label {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0.5rem;
  display: block;
}
.url-section .url-vfk {
  display: flex;
  align-items: center;
  background-color: #2e3b4e;
  padding: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.url-section .url-vfk span {
  color: #ffd700;
  font-weight: bold;
  margin-right: 0.5rem;
}
.url-section .url-vfk input {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.375rem;
  background-color: #ffffff;
  color: #111827;
  font-size: 1rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.url-section .url-vfk input::placeholder {
  color: #6b7280;
  font-style: italic;
}
.url-section .url-vfk input:focus {
  background-color: #e2e8f0;
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

/* Sección Descripción */
.description-section {
  margin-bottom: 2rem;
}
.description-section label {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0.5rem;
  display: block;
}
.description-section .txt-form {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #ccc;
  background-color: #2e3b4e;
  color: #ffffff;
  font-size: 1rem;
  resize: vertical;
  min-height: 120px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.description-section .txt-form::placeholder {
  color: #6b7280;
  font-style: italic;
}
.description-section .txt-form:focus {
  background-color: #3b4a61;
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

/* Sección de Imágenes */
.carga-logo-section,
.images-section {
  margin-bottom: 2rem;
}

.carga-seclogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.carga-logo-preview {
  height: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: contain;
  background-color: white;
}

.carga-btn-custom {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #e27c2d !important;
  color: #ffffff !important;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
  margin-bottom: 1rem;
}

.carga-btn-custom:hover {
  background-color: #c56a23 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.carga-company-logo-input {
  display: none;
}

.carga-cuadro-edicion {
  position: relative;
  border: 2px dashed #ccc;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carga-cuadro-edicion p {
  font-size: 0.75rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

.carga-icon-user {
  font-size: 4rem !important;
  height: 4rem !important;
  width: 4rem !important;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.carga-file-upload-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.carga-images-preview-cont {
  width: 100%;
  gap: 20px;
}

.carga-image-cont {
  position: relative;
  height: 150px;
  width: 150px;
}

.carga-image-deleteIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  cursor: pointer;
}

.carga-image-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white;
}

.carga-images-preview-cont {
  width: 100%;
  gap: 20px;
}

.carga-file-upload-wrapper input[type=file] {
  display: none;
}

.carga-file-upload-wrapper-label {
  background-color: #007bff;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

/*Btns Carga Empresa*/
.btn-cancelar-carga {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  margin: 1rem;
  font-weight: bold;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #e74c3c !important;
  color: #ffffff !important;
  border: none !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-cancelar-carga:hover {
  background-color: #c0392b !important;
}

.btn-cancelar-carga:active {
  transform: scale(0.98) !important;
}

/* PopUp */
.popCarga1 {
  position: absolute;
  margin: 2vw;
  min-width: 90vw;
  z-index: 1200;
  display: grid;
  grid-template-columns: 5% 95%;
  border-radius: 20px;
  padding-bottom: 3rem;
}

.popCarga {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e03f3f;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1;
  max-width: 80%;
  max-width: 400px;
  overflow-y: auto;
  margin-top: 4rem;
}

.popCarga p {
  text-align: start;
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 100;
}

/*Page Categorias*/
.background .custom-container {
  margin-top: 10rem;
}

.custom-title {
  font-size: 4rem;
  margin-top: 1rem;
  text-align: center;
  line-height: 1.1;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .custom-title {
    padding-top: 5rem;
  }
}

@media (max-width: 768px) {
  .background .custom-container {
    margin-top: 0rem;
  }
  .custom-title {
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 1.2;
  }
}
.custom-container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 992px) {
  .custom-container {
    text-align: left;
  }
}
.custom-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(var(--bs-gutter-x, 1.5rem) * -0.5);
  margin-left: calc(var(--bs-gutter-x, 1.5rem) * -0.5);
  align-items: center;
  margin-bottom: 3rem;
}

.custom-row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x, 1.5rem) * 0.5);
  padding-left: calc(var(--bs-gutter-x, 1.5rem) * 0.5);
}

@media (min-width: 992px) {
  .custom-row > * {
    padding-right: calc(var(--bs-gutter-x, 3rem) * 0.5);
    padding-left: calc(var(--bs-gutter-x, 3rem) * 0.5);
  }
}
.custom-col {
  width: 100%;
  padding-top: 2rem;
}

@media (min-width: 1400px) {
  .custom-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.custom-container-mt {
  width: 100%;
  font-size: 20px;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
}

.range {
  padding-top: 1rem;
}

#rangevalue {
  color: white;
  font-weight: bold;
}

.form-range {
  width: 40%;
  cursor: pointer;
  height: 10px;
  border: none;
  outline: none;
}

.form-range::-webkit-slider-thumb {
  background-color: rgb(0, 197, 142);
  width: 20px;
  height: 20px;
  border: none;
}

.form-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
}

.filter-row-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

/*Page Formulario Empresa*/
/* General */
.bg-formEmpresa {
  background-color: #1a2a3a;
  padding: 2rem;
  padding-top: 8rem;
  color: #fff;
}

.form-empresa {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #2e3b4e;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-titulo {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

.form-descripcion {
  font-size: 1rem;
  text-align: center;
  color: #ddd;
  margin-bottom: 2rem;
}

.datos-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.campo-formEmpresa {
  grid-column: span 1;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #e2e8f0;
}

.campo-formEmpresa label {
  font-size: 0.875rem;
  color: #e2e8f0;
  font-weight: 500;
  margin-bottom: 4px;
}

.campo-formEmpresa input,
.campo-formEmpresa select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #717171;
  background-color: #ffffff;
  color: #111827;
  font-size: 16px;
}

.input-container select {
  width: 100%;
  text-align: start;
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: none;
  color: #111827;
  background-color: #fff;
  font-size: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

input::placeholder,
select::placeholder {
  color: #6b7280;
}

.linea-divisoria {
  height: 1px;
  background-color: #ffffff;
  margin: 2rem 0;
}

.campos-obligatorios {
  margin-top: 1rem;
}

.btn-carga-edicion {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2rem;
}

.btn-guardar {
  margin: 1rem;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: #1a2a3a !important;
  background-color: #ffd700 !important;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-guardar:hover {
  background-color: #218838 !important;
  color: whitesmoke !important;
}

.btnCancel {
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  color: #1a2a3a !important;
  margin-right: 1rem;
  background-color: #fb6e6e !important;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnCancel:hover {
  background-color: red !important;
  color: whitesmoke !important;
}

@media (max-width: 600px) {
  .bg-formEmpresa {
    padding: 1rem;
    padding-top: 6rem;
  }
  .form-empresa {
    padding: 1rem;
  }
  .form-titulo {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .form-descripcion {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }
  .datos-form {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .campo-formEmpresa {
    margin-bottom: 12px;
    padding: 6px;
  }
  .campo-formEmpresa input,
  .campo-formEmpresa select {
    padding: 6px;
    font-size: 14px;
  }
  .btn-guardar {
    width: 100%;
    font-size: 0.875rem;
    padding: 0.5rem;
  }
}
/* Datos empresa */
.form-label-business {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0.5rem;
}

.form-select-business {
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: none;
  background-color: #fff;
  color: #111827;
  font-size: 0.875rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  width: auto;
  min-width: 150px;
  text-align: center;
}

@media (max-width: 768px) {
  .datos-form {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .campo-formEmpresa {
    width: 100%;
    margin-bottom: 1rem;
  }
  .form-select-business {
    width: 100%;
    font-size: 0.875rem;
  }
  .form-label-business {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
}
/* Horarios */
.horarios-cont {
  display: table;
  margin: 0 auto;
}

.horarios-cont td {
  padding: 5px;
}

.horarios-cont td:first-child {
  font-weight: bold;
  color: #fff;
  text-align: left;
  padding-left: 1rem;
}

.horarios-cont .btn-personalizar {
  width: auto !important;
  padding: 0.5rem 1rem !important;
  font-size: 0.875rem !important;
  margin: 0 0 1rem 1rem !important;
  border-radius: 0.375rem !important;
  border: 1px solid #ccc !important;
  background-color: #ffffff !important;
  color: #111827 !important;
  cursor: pointer !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

.btn-personalizar:focus {
  background-color: #e2e8f0;
  border-color: #007bff;
  outline: none;
}

.horarios-cont select {
  width: 80%;
  padding: 8px;
  border-radius: 1rem;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #111827;
  font-size: 14px;
}

.horarios-cont .input-group select {
  margin-top: 0.5rem;
  border-radius: 1rem !important;
}

.horarios-cont select:focus {
  background-color: #e2e8f0;
  border-color: #007bff;
  outline: none;
}

.diaOpenClose {
  text-align: center;
}

.clear-btn {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  color: #b1ae08;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}

.clear-btn:hover {
  color: #e0f900;
}

/* Adaptación para dispositivos móviles */
@media (max-width: 768px) {
  .horarios-cont tr {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .horarios-cont .input-group select {
    margin-top: 0rem;
  }
  .horarios-cont td:first-child {
    width: 25%;
    text-align: left;
    font-weight: bold;
    padding: 10px 0;
    color: #fff;
  }
  .horarios-cont td:nth-child(2),
  .horarios-cont td:nth-child(3) {
    width: 35%;
    text-align: center;
  }
  .horarios-cont tr:nth-of-type(2n) {
    border-bottom: 1px solid rgba(170, 170, 170, 0.737254902);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  .horarios-cont select {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 769px) {
  .horarios-cont tr:nth-of-type(2n) {
    border-bottom: 1px solid rgba(170, 170, 170, 0.737254902);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
}
/* CargaEmpresa.scss */
.horarios-carga-empresa {
  display: flex;
  justify-content: center;
}
.horarios-carga-empresa table {
  width: 100%;
  max-width: 600px;
  text-align: center;
  border-spacing: 0 1rem;
}
.horarios-carga-empresa table th, .horarios-carga-empresa table td {
  text-align: center;
}
.horarios-carga-empresa table th {
  color: #fff;
  font-weight: bold;
}
.horarios-carga-empresa table .diaOpenClose {
  display: flex;
  justify-content: center;
  align-items: center;
}
.horarios-carga-empresa table .input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.horarios-carga-empresa table select {
  width: 80%;
  padding: 8px;
  border-radius: 1rem;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #111827;
  font-size: 14px;
  text-align: center;
}
.horarios-carga-empresa table .clear-btn {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  color: #b1ae08;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}
.horarios-carga-empresa table .clear-btn:hover {
  color: #e0f900;
}

/* Redes Sociales */
.campos-redes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.campo-red {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.campo-red label {
  margin-right: 0.5rem;
  width: 40px;
  text-align: center;
}

.campo-red input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.campo-red input:not(:placeholder-shown) {
  color: #000000;
}

.campo-red input::placeholder {
  color: #6b7280;
}

@media (max-width: 768px) {
  .campos-redes {
    grid-template-columns: 1fr;
  }
  .campo-red {
    margin-bottom: 1rem;
  }
  .campo-red label {
    width: 50px;
    font-size: 1.3rem;
  }
  .campo-red input {
    width: 100%;
  }
}
/* Visualización para CargaEmpresa*/
.campos-redes {
  display: block;
}
.campos-redes .custom-form-carga {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.campos-redes .custom-form-carga .campo-red {
  display: flex;
  align-items: center;
}
.campos-redes .custom-form-carga .campo-red label {
  width: 40px;
  margin-right: 0.5rem;
  text-align: center;
  color: #ffffff;
  font-size: 1.1rem;
}
.campos-redes .custom-form-carga .campo-red input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #2e3b4e;
  color: #ffffff;
  font-size: 1rem;
  width: 100%;
}
.campos-redes .custom-form-carga button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
}
@media (max-width: 768px) {
  .campos-redes .custom-form-carga {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .campos-redes .custom-form-carga .campo-red {
    margin-bottom: 1rem;
  }
  .campos-redes .custom-form-carga .campo-red label {
    width: 50px;
    font-size: 1.5rem;
  }
}

/* Sección URL */
.url-section {
  margin-bottom: 2rem;
}
.url-section label {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0.5rem;
  display: block;
}
.url-section .url-vfk {
  display: flex;
  align-items: center;
  background-color: #2e3b4e;
  padding: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.url-section .url-vfk span {
  color: #ffd700;
  font-weight: bold;
  margin-right: 0.5rem;
}
.url-section .url-vfk input {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.375rem;
  background-color: #ffffff;
  color: #111827;
  font-size: 1rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.url-section .url-vfk input::placeholder {
  color: #6b7280;
  font-style: italic;
}
.url-section .url-vfk input:focus {
  background-color: #e2e8f0;
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

/* Sección Descripción */
.description-section {
  margin-bottom: 2rem;
}
.description-section label {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0.5rem;
  display: block;
}
.description-section .txt-form {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #ccc;
  background-color: #2e3b4e;
  color: #ffffff;
  font-size: 1rem;
  resize: vertical;
  min-height: 120px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.description-section .txt-form::placeholder {
  color: #6b7280;
  font-style: italic;
}
.description-section .txt-form:focus {
  background-color: #3b4a61;
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

/* Sección de Imágenes */
.carga-logo-section,
.images-section {
  margin-bottom: 2rem;
}

.carga-seclogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.carga-logo-preview {
  height: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: contain;
  background-color: white;
}

.carga-btn-custom {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #e27c2d !important;
  color: #ffffff !important;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
  margin-bottom: 1rem;
}

.carga-btn-custom:hover {
  background-color: #c56a23 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.carga-company-logo-input {
  display: none;
}

.carga-cuadro-edicion {
  position: relative;
  border: 2px dashed #ccc;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carga-cuadro-edicion p {
  font-size: 0.75rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

.carga-icon-user {
  font-size: 4rem !important;
  height: 4rem !important;
  width: 4rem !important;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.carga-file-upload-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.carga-images-preview-cont {
  width: 100%;
  gap: 20px;
}

.carga-image-cont {
  position: relative;
  height: 150px;
  width: 150px;
}

.carga-image-deleteIcon {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  cursor: pointer;
}

.carga-image-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white;
}

.carga-images-preview-cont {
  width: 100%;
  gap: 20px;
}

.carga-file-upload-wrapper input[type=file] {
  display: none;
}

.carga-file-upload-wrapper-label {
  background-color: #007bff;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

/*Btns Carga Empresa*/
.btn-cancelar-carga {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  margin: 1rem;
  font-weight: bold;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #e74c3c !important;
  color: #ffffff !important;
  border: none !important;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-cancelar-carga:hover {
  background-color: #c0392b !important;
}

.btn-cancelar-carga:active {
  transform: scale(0.98) !important;
}

/* Imagenes empresa */
.carga-logo-section,
.carga-images-section {
  margin-bottom: 2rem;
}

.seclogo, .cuadro-edicion {
  justify-content: center;
  display: flex;
}

.change-img-logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.carga-seclogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.editar-empresa-logo, .icon-user {
  margin: 1rem;
  height: 150px;
  width: 150px;
  border-radius: 5rem;
}

.carga-seclogo img {
  max-width: 100px;
  max-height: 100px;
}

.secLogo {
  display: flex;
  justify-content: center;
}

.carga-seclogo button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.carga-seclogo button:hover {
  background-color: #0056b3;
}

.carga-empresa-logo {
  max-width: 100px;
  max-height: 100px;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.carga-btn-custom {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  background-color: #e27c2d;
  color: #ffffff;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carga-btn-custom:hover {
  background-color: #c56a23;
}

.carga-company-logo-input {
  display: none;
}

.carga-cuadro-edicion {
  border: 2px dashed #ccc;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carga-cuadro-edicion p {
  font-size: 0.75rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

.carga-cuadro-edicion .carga-iconUser {
  font-size: 30px;
  color: #6b7280;
  margin-bottom: 0.5rem;
  height: 3rem;
  width: 3rem;
}

.carga-file-upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carga-file-upload-wrapper input[type=file] {
  display: none;
}

.carga-file-upload-wrapper-label {
  background-color: #e27c2d;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.carga-file-upload-info {
  color: #6b7280;
  margin-top: 0.5rem;
  font-size: 15px;
  text-align: center;
}

.carga-file-upload-label input[type=file] {
  display: none;
}

.carga-file-upload-wrapper span {
  color: #6b7280;
  margin-top: 0.5rem;
  text-align: center;
}

/* Visualizacion de imagenes */
.carga-imagenes-cont {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: nowrap;
}

.carga-imagen-cont {
  position: relative;
  width: calc(20% - 1rem);
}

.carga-imagen {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  object-fit: cover;
}

.carga-delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.carga-delete-icon:hover {
  opacity: 1;
}

.carga-imagen-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  color: #bbb;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .carga-cuadro-edicion {
    max-width: 200px;
    padding: 0.75rem;
  }
  .carga-imagenes-cont {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .carga-imagen-cont {
    width: calc(50% - 0.5rem);
  }
  .carga-imagen {
    height: 80px;
  }
}
/* Visualizacion de imagenes */
.editar-empresa-imagenes-cont {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: nowrap;
}

.editar-empresa-imagen-cont {
  position: relative;
  width: calc(20% - 1rem);
}

.editar-empresa-imagen {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  object-fit: cover;
}

.editar-empresa-delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.editar-empresa-delete-icon:hover {
  opacity: 1;
}

.imagen-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  color: #bbb;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .cuadro-edicion {
    max-width: 200px;
    padding: 0.75rem;
  }
  .editar-empresa-imagenes-cont {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .editar-empresa-imagen-cont {
    width: calc(50% - 0.5rem);
  }
  .editar-empresa-imagen {
    height: 80px;
  }
}

/* Contenedor principal */
.contenedor-principal {
  display: flex;
  gap: 20px;
  padding: 20px;
  padding-top: 10rem;
  align-items: flex-start;
  justify-content: space-between;
  height: auto;
}

/* Columna A */
.columnaA {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  height: auto;
}

/* Columna B */
.columnaB {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start; /* Asegura que el contenido esté alineado al principio */
  height: auto;
}
#menu-toggle {
  visibility: hidden;
}

/* --- Imagenes dentro de Consultados --- */
.image-container {
  position: relative;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay h3 {
  margin-bottom: 8px;
  margin-right: 10px;
  color: #fff;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transform: translateY(20px);
  transition: transform 0.3s ease, font-weight 0.3s ease;
}

.image-container:hover .overlay {
  cursor: pointer;
  background: linear-gradient(180deg, transparent, transparent, white);
  opacity: 1;
}

.image-container:hover .overlay h3 {
  font-weight: 600;
  color: rgb(0, 197, 142);
  transform: translateY(0);
}

/* --- Descuentos --- */
.descuentos-container {
  margin-top: 40px;
}

.descuentos-header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.descuentos-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.descuento-item {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.day {
  text-align: center;
}

.day h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.day p {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.activity {
  flex: 1;
  padding-left: 20px;
}

.activity h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.activity p {
  font-size: 1rem;
  color: #777;
}

.btn-descuentos {
  background-color: rgb(0, 197, 142);
  border: none;
  padding: 10px 15px;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

.btn-descuentos:hover {
  background-color: rgb(0, 170, 122);
}

/* --- Recomendaciones Section --- */
.recomendaciones-section {
  margin-top: 40px;
}

.recomendaciones-section h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

select {
  appearance: none;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: #f8f9fa;
  color: #495057;
  cursor: pointer;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 20%;
  text-align: center;
}

select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Agrega un estilo hover */
select:hover {
  border-color: #b3c6ff;
}

/* Estilo cuando el botón está desactivado */
select:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* Estilo para el ícono de flecha */
select:after {
  content: "▼"; /* Unicode para la flecha hacia abajo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Evita que la flecha sea seleccionable */
}

/* Estilo para el contenedor del botón de los meses */
.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Mantén el resto de tus estilos para otros elementos */
.highlighted {
  background-color: rgb(0, 197, 142);
  color: black;
  font-weight: bold;
  border: 2px solid rgb(0, 197, 142);
}

.mes-calendario {
  text-decoration: underline red;
  font-weight: 700;
}