.cardNegocio {
  width: 100%;
  height: 30em; /* Establecer una altura fija */
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Borde suave */
  background-color: #333; /* Color de fondo más oscuro */
  transition: all 400ms ease-out;
  cursor: default;
  color: #fff; /* Color de texto más claro */
}

.cardNegocio:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer hover */
  transform: translateY(-3%);
}

.cardNegocio img {
  width: 100%;
  height: 210px;
}

.cardNegocio .contenido-card {
  padding: 15px;
  text-align: center;
}

.cardNegocio .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.cardNegocio .contenido-card h4 {
  font-size: 1.3em;
  color: #fff; /* Color del título */
}

.cardNegocio .contenido-card p {
  line-height: 1.8;
  color: #ddd; /* Color del texto regular */
}

.cardNegocio .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #14ba75;
  border: 1px solid #14ba75;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.cardNegocio .contenido-card a:hover {
  background: #14ba75;
  color: #fff;
}

/*==== INICIO FAVORITOS ======*/

.favorito .bi-heart-fill {
  font-size: 3rem;
}

.favorito {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  justify-content: end;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.favorito-0 {
  filter: grayscale(100%);
}

.favorito > input {
  display: none;
}

.favorito > label {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin-top: auto;
  color: #e3e3e3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.favorito > label:hover {
  color: #e61e8f;
}

.favorito > input:checked ~ label,
.favorito > input:checked ~ label:hover,
.favorito > input:checked ~ label ~ label {
  color: #e61e8f;
}

/*===FIN STAR ===*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }
  .cardNegocio {
    margin: 15px;
  }
}
