.editar-empresa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-editar-empresa {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  height: 50%;
  width: 80%;
  background-color: gray;
  color: white;
}

.row-editar-empresa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.col-editar-empresa {
  flex: 1;
  padding: 15px;
  text-align: center;
}
