/* CONTENT */

.info {
  display: grid;
  height: 100%;
  background: #dbdbdb;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/*--- Contenido info ---*/

.contenido-info {
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
}
/*--- card informe ---*/

.card-informe {
  padding: 20px;
  font: 16px/22px "Open Sans", sans-serif;
  display: flex; /* Añadido */
  flex-wrap: wrap; /* Añadido */
}

.panel {
  position: relative;
  width: calc(25% - 20px); /* Añadido */
  height: 160px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  border-radius: 8px;
  background-color: #b8aa0e; /* Añadido */
  display: flex; /* Añadido */
  align-items: center; /* Añadido */
  justify-content: center; /* Añadido */
}

.panel a {
  text-decoration: none;
  color: #fff;
}

.panel span {
  font-size: 96px;
  font-weight: 600;
  line-height: 96px;
}

.panel.post {
  background-color: #b8aa0e;
}

.panel.comment {
  background-color: #0377c0;
}

.panel.page {
  background-color: #279824;
}

.panel.user {
  background-color: #fc1c3e;
}

.panel:after {
  position: absolute;
  font-family: FontAwesome;
  color: rgba(0, 0, 0, 1);
  z-index: 1;
  transition: all 0.5s;
  line-height: normal;
}

.panel:hover:after {
  transition: all 0.5s;
}


/*======LINE CHART =======*/

.card-3 {
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 2px #d7d7d7;
  margin-top: 2rem;
  width: auto;
}

.chart-lbl {
  margin-left: 5%;
  padding: 0.5rem;
  font-size: 20px;
  color: var(--grey-d3);
  opacity: 0.8;
}

.divider {
  background-color: var(--grey-d2);
  height: 2px;
  margin: auto;
  width: 98%;
}
