/*=== Menú DashBoard ===*/

.menuDash {
  position: relative;
  background: rgb(45, 45, 46);
  padding-top: 10px;
  border-radius: 15px 0 0 15px;
  text-align: center;
  width: auto;
  font-family: "Roboto", sans-serif;
}

.menuDash h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 20px 0 30px;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

.logo-dash {
  max-width: 100%;
  height: auto;
  padding: 1.5rem;
}

@media (max-width: 1500px) {
  .menuDash h1 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .menuDash {
    border-radius: 0px;
    padding-top: 0;
  }

  .menuDash li {
    color: white;
  }

  .menuDash ul.active {
    display: block;
  }

  .menuDash ul {
    list-style-type: none;
    padding: 0;
  }

  .menuDash ul li {
    padding: 10px 20px;
  }

  .menuDash ul li a {
    color: white;
    text-decoration: none;
  }

  .menuDash ul li.active {
    background-color: white;
    border-radius: 100px;
    margin: 2rem;
  }
}

.nav-item {
  position: relative;
  display: block;
}

.nav-item a {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  padding: 15px;
  border-radius: 4rem;
  margin: 1rem;
  text-decoration: none;
}

.nav-item i::after {
  content: attr(
    title
  ); /* Utilizamos el atributo 'title' como contenido del elemento después del ícono */
  position: absolute;
  bottom: -20px; /* Ajusta esto según sea necesario para la posición deseada */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  color: #fff; /* Color del texto */
  padding: 5px 10px; /* Ajusta esto según sea necesario */
  border-radius: 5px;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease; /* Efecto de transición */
  font-size: 1rem;
}

.nav-item i:hover::after {
  opacity: 1; /* Mostrar al hacer hover */
}

@media screen and (max-width: 576px) {
  .nav-item a {
    padding: 10px 0; /* Reducir el relleno en dispositivos extra pequeños */
    margin-left: 0; /* Eliminar el margen izquierdo en dispositivos extra pequeños */
    border-radius: 0; /* Eliminar el radio de borde en dispositivos extra pequeños */
  }
}

.nav-item b:nth-child(1)::before,
.nav-item b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(45, 45, 46);
}

.nav-item.active b:nth-child(1),
.nav-item.active b:nth-child(2) {
  display: block;
}

.nav-item.active a {
  text-decoration: none;
  color: #000;
  background: rgb(254, 254, 254);
}

.nav-icon {
  height: 30px;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .nav-icon {
    width: 60px;
    height: 20px;
    font-size: 20px;
    text-align: center;
  }
}

.nav-text {
  display: none;
}

#menu-toggle {
  visibility: hidden;
}

.icon-burger {
  color: #14ba75;
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  margin: auto;
}

/* Mostramos la hamburguesa solo en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .icon-burger {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .icon-burger {
    display: block;
    cursor: pointer;
  }

  #menu-toggle {
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .menuDash ul {
    display: none;
  }

  .menuDash ul.active {
    display: block;
  }
}
