.contenido-negocios {
  display: grid;
  height: 100%;
  background: #dbdbdb;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.btn-editar,
.btn-eliminar,
.btn-pausar {
  width: 100%;
  border-color: black;
  margin-top: 0.5rem;
}

.btn-eliminar {
  background-color: red;
}

.btn-editar {
  background-color: yellowgreen;
}

.btn-pausar {
  background-color: #241e4e;
  color: white;
}

.editar-empresa-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .contenido-negocios {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-editar-empresa {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
  }

  .editar-empresa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .editar-empresa-container .row-editar-empresa {
    display: block;
  }

  .editar-empresa-container .row-editar-empresa:not(:last-child) {
    margin-bottom: 10px;
  }
}

.card-editar-empresa {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
}

.card-editar-empresa div.row-editar-empresa:first-child {
  border-top: 1px solid lightgray;
}

.row-editar-empresa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid lightgray;
}

.col-editar-empresa {
  flex: 1;
  padding: 15px;
  text-align: center;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .contenido-negocios {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
